html, body {
  margin: 0;
  padding: 0.5rem;
}

body {
  font-size: 1rem;
  background: #fff;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  font-size: inherit;
}

#header {
  margin: 0px 5px;
}

form {
  margin: 0 10px;
}

#save_no_img, #save {
  margin: 5px auto 0 auto;
  width: 85px;
}

#save_no_img {
  display: none;
  width: 190px;
}

#nav {
  bottom: 0px;
  margin: 5px;
}

#about_body {
  margin: 0 10px;
}
